# Configuración de Zabbix
ZABBIX_URL=https://zabbix.example.com/api_jsonrpc.php
ZABBIX_API_TOKEN=1234567890

# Configuración del servidor SMTP
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=password

# Configuración del correo
EMAIL_FROM=zabbix@example.com
EMAIL_TO=admin@example.com 